html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

//disable text select on all platforms
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}